<meta   name="twitter:card"         content="summary_large_image" />
<meta   name="twitter:site"         content="@stlgamedev" />
<meta   name="twitter:creator"      content="@seifertim" />

<meta   property="og:url"           content="{{ .Permalink | safeURL }}" />
<meta   property="og:type"          content="article" />
<meta   property="og:title"         content="St Louis Game Developer Roundup № {{ .Params.no }}" />
<meta   property="og:description"   content="{{ site.Params.explanation }}" />
<meta   property="og:image"         content="https://raw.githubusercontent.com/AxolStudio/STLGameDevRoundUp/main/screenshots/issue-{{ .Params.no }}.png" />
<meta   property="og:site_name"     content="{{ site.Title }}" />
<meta   property="og:locale"        content="en_US" />
