{{- $image := resources.Get "images/stlgdru-logo.png" }}


<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@stlgamedev" />
<meta name="twitter:creator" content="@seifertim" />
<meta name="twitter:title" content="St Louis Game Developer RoundUp - Project Showcase" />
<meta name="twitter:description"
    content="A list of projects made by people and/or teams who are part of our community!" />
<meta name="twitter:image" content="{{ $image.Permalink }}" />

<meta property="og:url" content="{{ .Permalink | safeURL }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="St Louis Game Developer RoundUp - Project Showcase" />
<meta property="og:description"
    content="A list of projects made by people and/or teams who are part of our community!" />
<meta property="og:image" content="{{ $image.Permalink }}" />
<meta property="og:site_name" content="{{ site.Title }}" />
<meta property="og:locale" content="en_US" />
<meta property="og:image:secure_url" content="{{ $image.Permalink }}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="1200" />
<meta property="og:image:alt" content="St Louis Game Developer RoundUp" />
<meta property="og:image:type" content="image/png" />