<!doctype html>
<html class="{{ .Page.RelPermalink }}" lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      {{ partial "header.html" . }}
    </header>
    <main class="mh-100 h-100 mb-6">
      {{ block "main" . }}{{ end }}
    </main>
    <footer class="footer mt-auto py-3 fixed-bottom">
      {{ partial "footer.html" . }}
    </footer>
  </body>
</html>
