{{ define "main" }}
<ul> {{ range $index, $issue := sort site.RegularPages ".Params.no" "desc" }}{{ if ne $issue.Params.no nil }}<li itemType="http://schema.org/Article"
    id="{{ $issue.Params.no }}">
    {{- if eq $index 0 -}}
    <p class="text-secondary">Latest RoundUp</p>
    {{- end -}}
    <a title="St Louis Game Dev RoundUp № {{ $issue.Params.no }}" href="{{ $issue.RelPermalink }}">
      <h2 itemprop="headline">{{ if eq $index 0 }}✨ {{ end -}}RoundUp № {{ $issue.Params.no }}
      </h2>
    </a>
    <time datecreated="{{ $issue.Params.Date.Format " 2006-01-02" }}" itemprop="datePublished" pubdate
      datetime="{{ $issue.Params.Date.Format " 2006-01-02" }}">{{ $issue.Params.Date.Format "January 2, 2006" }}</time>
  </li>
  {{ end }}
  {{ end }}
  </ul>
{{ end }}
