{{ define "main" }}

<div class="text-center">
  <h1 class="display-2">Roundup № {{ .Params.no }}</h1>
  {{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date |
  time.Format ":date_full"
  }}
  <p class="lead text-body-tertiary"><time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></p>
</div>
<div class="p-2 fs-5 mx-auto text-body-secondary">
  <p>{{ site.Params.explanation }}</p>
</div>
<hr />

{{- $categories := dict }}

{{ $post := printf "%s" (string .Params.no) | printf "%s%s" "issue" | printf "%s" }}
{{ $posts := index .Site.Data $post }}
{{ range index $posts.nodes }}
{{ $body := .body }}
{{ $category := replaceRE `^(?:\{)(.*)(?:\}).*` "$1" $body }}
{{ $entry := replaceRE `^(?:\{.*\})(.*)` "$1" $body }}

{{ $cat := index $categories $category }}
{{ if not $cat }}
{{ $categories = merge $categories (dict $category (dict "category" $category "count" 1 "entries" (slice $entry))) }}
{{ else }}
{{ $categories = merge $categories (dict $category (dict "category" $category "count" (int ($cat.count) | add 1)
"entries" (append $entry $cat.entries))) }}
{{ end }}

{{ end -}}

{{- $header := index $categories "!header" }}
{{ if $header }}
<section class="issue-header d-block">
  {{ range $header.entries }}
  <p class="lead fs-4 ">{{ . | markdownify }}</p>
  {{ end }}
</section>
{{ end -}}


<section class="row py-4">
  <div class="col issue-content">
    {{- range sort $categories "count" "desc" }}
    {{ if ne .category "!header" }}
    <section class="issue-section d-block">
      <h3 class="display-6">{{ .category | title }}</h3>
      <ul>
        {{ range .entries }}
        <li>{{ . | markdownify }}</li>
        {{ end }}
      </ul>
    </section>
    {{ end }}
    {{ end -}}
  </div>
</section>

{{ partial "parials/upcoming-event.html" . }}

<hr class="my-4 mx-4" />

{{- if modBool ( int .Params.no ) 2 -}}

{{ partial "partials/random-devs.html" . }}

{{- else -}}

{{ partial "partials/random-project.html" . }}

{{- end -}}


<div class="row">
  <div class="col-lg-auto">
    <a class="btn btn-outline-danger  btn-sm" role="button"
      href="https://github.com/AxolStudio/STLGameDevRoundUp/blob/main/data/issue{{ .Params.no }}.json"><i
        class="bi bi-pencil-square"></i> Make a Correction</a>
  </div>
</div>
</div>
{{ end }}