{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

  {{ .Content }}


  {{ $s := newScratch }}
  {{ $categories := slice }}
  {{ range .Site.Data.issue1.nodes }}
  {{ $body := .body }}
  {{ $category := replaceRE `^(?:\{)(.*)(?:\}).*` "$1" $body }}
  {{ $entry := replaceRE `^(?:\{.*\})(.*)` "$1" $body }}
  {{ $s.Set $category ($s.Get $category | append $entry) }}
  {{ $categories = $categories | append $category }}
  {{ end }}

  {{ $categories = $categories | uniq }}
  {{ $categories = $categories | sort }}

  {{ range $categories }}
  <h2>{{ . }}</h2>
  {{ range $s.Get . }}
  <li>{{ . | markdownify }}</li>
  {{ end }}
  {{ end }}
  
{{ end }}
