<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 mt-3 text-center  "><a class="btn btn-success" role="button"
        href="https://github.com/AxolStudio/STLGameDevRoundUp/labels/next-roundup"><i class="bi bi-plus-square"></i> Submit
        an Item for the Next RoundUp</a></div>
    <div class="col-12 col-md-4 mt-3 text-center "><a class="btn btn-primary" role="button" href="https://github.com/AxolStudio/STLGameDevRoundUp" ><i class="bi bi-github"></i> Contribute on GitHub</a></div>
    <div class="col-12 col-md-4 mt-3 text-center align-text-bottom"><i class="bi bi-wrench-adjustable-circle"></i> Built & Maintained by <a href="https://github.com/SeiferTim">Tim I Hely</a></div>
  </div>
</div>
{{ partialCached "head/js.html" . }}
