{{- $devs := .Site.Data.directory.developers -}}
{{- if $devs -}}
<div class="row">
    <h4>🧑‍💻 Check out this featured developer from our Community!</h4>
    <dl class="ms-4  ">
        {{- range $dev := first 1 ( $devs | shuffle ) -}}
        <dt class="h5">
          <a href="{{ index $dev 2 }}">{{ index $dev 0 }}</a>
          </dt>
          {{- if (index $dev 3) -}}
            <dd class="ms-4">{{ index $dev 3 }}</dd>
          {{- end -}}
        {{- end -}}
    </dl>
</div>
<div class="row">
  {{ $page := .Site.GetPage "/directory" }}
  <p><a href="{{ $page.RelPermalink }}">View more developers in our Directory!</a></p>
</div>
{{- end -}}