{{- $projs := .Site.Data.directory.projects -}}
{{- if $projs -}}

<div class="row ">
    <h4>⚙ Check out this featured project from our Community!</h4>
    <dl class="ms-4 ">
        {{- range $proj := first 1 ( $projs | shuffle ) -}}
        <dt class="h5">
            <a href="{{ index $proj 2 }}">{{ index $proj 0 }}</a> —
            {{ index $proj 3 }}
          </dt>
          <dd class="ms-4">{{ index $proj 1 | humanize }}</dd>
        {{- end -}}
    </dl>
    {{ $page := .Site.GetPage "/showcase" }}
    <p><a href="{{ $page.RelPermalink }}">View more projects in our Showcase!</a></p>
</div>
{{- end -}}