{{- $ruDate := .Scratch.Get "rudate" | time.AsTime -}}
{{- $endDate := $ruDate.AddDate 0 1 0 -}}
{{- $eventsRaw := .Site.Data.events -}}
{{- $events := slice -}}
{{- range $eventRaw := $eventsRaw -}}
    {{- $rawD := time.AsTime (index $eventRaw 1) -}}
    
    {{- if and ( ge $rawD ( time.AsTime ( time.Format "2006-01-02" $ruDate ))) ( le $rawD ( time.AsTime (
    time.Format
    "2006-01-02" $endDate ))) -}}
        {{- $events = $events | append (dict
            "name" (index $eventRaw 0)  
            "when" (index $eventRaw 1)
            "desc" (index $eventRaw 2)
            "where" (index $eventRaw 3))
        -}}
    {{- end -}}
{{- end -}}
<div class="row">
    {{ $page := .Site.GetPage "/events" }}
    {{- if $events -}}
    <h4>📅 Upcoming Events</h4>
    <dl class="ms-4">
        {{- range $event := (sort $events "when" "asc") -}}
            {{- $rawDate := time.AsTime $event.when -}}
            <dt class="h5 ms-2">
                <time datetime='{{ $rawDate }}'>{{ $rawDate | time.Format ":date_full" }} - {{ $rawDate | time.Format ":time_medium" }}</time>
            </dt>
            <dd class="ms-4">{{ $event.name }} at {{ $event.where }}</dd>
            <dd class="ms-4">{{ $event.desc }}</dd>
        {{- end -}}
    </dl>
    <p><a href="{{ $page.RelPermalink }}">View all of our Events!</a></p>
    {{- else -}}
    There are no events coming up between {{ $ruDate | time.Format ":date_short" }} and {{ $endDate |
    time.Format
    ":date_short" }}. Check out our <a href="{{ $page.RelPermalink }}">Upcoming Events</a> page to see how to add an event
    or to check for events that
    might be further out!
    {{- end -}}
</div>