{{ define "header" }}
  <header class="px-4 py-5 my-2 text-center">
    <h1 class="display-4 fw-light">{{ .Title }}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead text-body-secondary mb-2">This is a list of upcoming Game Developer-related Events happening around the St Louis Area.</p>
      <p class="text-body-secondary">If you know about an event that is related to Game Development that is not listed here, please feel free to add it.</p>
      <p>To add an event, please fill out the <a href="https://forms.gle/hZX71rwHsAwTd8oMA" target="_blank">Event Submission</a> Form!</p>
    </div>
  </header>
{{ end }}

{{ define "main" -}}
<section class="row pt-0 pb-events2 ">
  <div class="col-lg-8 mx-auto">
  {{- $eventsRaw := .Site.Data.events -}}
  {{- $events := slice -}}
  {{- range $eventRaw := $eventsRaw -}}
    {{- $rawD := time.AsTime (index $eventRaw 1) -}}
    {{- if (ge $rawD (time.Format ":date_short" time.Now )) -}}
      {{- $events = $events | append (dict 
        "name" (index $eventRaw 0)
        "when" (index $eventRaw 1)
        "desc" (index $eventRaw 2)
        "where" (index $eventRaw 3))
      -}}
    {{- end -}}
  {{- end -}}
  
  {{- $lastDate := "" -}}
  {{- $lastTime := "" -}}
  {{- range $event := (sort $events "when" "asc") -}}
  {{- $rawDate := time.AsTime $event.when -}}
  {{- $eventDate := time.Format "January 2, 2006" $rawDate -}}

    {{- if (ne $lastDate $eventDate) -}}
      {{- if (ne $lastDate "") -}}
        
      </div>
      {{- end -}}
      <div class="responsive">
        <h3>{{ $eventDate }}:</h3>
    {{- end -}}
    <div class="px-4">
      <dl class=" ">
        <dt class="">{{ $event.name }}</dt>
        <dd class=""><small>When:</small> {{ time.Format ":time_short" $rawDate }}</dd>
        
        <dd class=""><small>Where:</small> {{ $event.where }}</dd>
        <dd class="">{{ $event.desc }}</dd>
      </dl>
    </div>
    
  {{- end -}}
  {{- if (ne $lastDate "") -}}
        
      </div>
      {{- end -}}
</div>
</section>
{{- end }}