{{ define "header"}}
<header class="px-4 py-5 my-2 text-center">
  
  
  <h1 class="display-4 fw-light">{{ .Title }}</h1>
  <div class="col-lg-6 mx-auto">
      <p class="lead text-body-secondary mb-2">
        This is a directory of people, studios, and other creators in the St. Louis game development community  
      </p>
      <p>This directory is <em>Opt-In Only</em> — you are welcome to add yourself or your organization to this list, but not anyone else (without permission).</p>
      <p>Update the correct file in <a href="https://github.com/AxolStudio/STLGameDevRoundUp/blob/main/data/directory">The Repository</a> to add, change, or remove your entry.</p>
  </div>
</header>
{{ end }}
{{ define "main" }}


{{ $entry := .Site.Data.directory.developers }}
<p>{{ $entry }}</p>


{{ end }} 